<html>
  <head>
    <title>John Thanks You</title>
  </head>
  <body>
    <a class="back" href="/"><img src="/static/img/thanks.png" height="150" width="150"></a>
    <div>
      <h2><%= contact.firstName %> <%= contact.lastName %></h2>
    </div>
  </body>
</html>